<html>
<head>
<title>Petritek Robotic Arm Control</title>
<style>
	*{
		box-sizing: border-box;
		margin:0;padding:0;
		background-color: black;
	}
	html, body, #container{
		height: 100%;
		width: 100%;
	}

	#container{
		display: table;
		height: 100%;
	}

	#logo, #video{
		display: table-row;
	}

	#logo{
		height: 60px;
	}

	#video {
		background: url('https://petritek.probelogic.com.au/video') no-repeat center;
		background-size: contain;
		background-position: center;
		background-color: black;		
		width: 100%;
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;

		}
</style>
</head>
<body>
<div id="container">
	<div id="logo">
		<img src="/logo_small.png" alt="" class="center">
	</div>
	<div id="video">
&nbsp;
	</div>
</div>
<div style="position: fixed; z-index:1; width:100%; height: 100%">



		<script>
			document.addEventListener('contextmenu', event => event.preventDefault());

			
			var xhr = new XMLHttpRequest(); 
			var url = "https://petritek.probelogic.com.au/api/controls"; 
			var inputArray = [];
			inputArray.len = 23;
			var i = 0;
			var timer;
			while (i < inputArray.len) {
				inputArray[i] = 0;
				i = i+1;
				}
			i = 0;

			window.addEventListener("gamepadconnected", function (e) {
				console.log("controller Conntected");
				timer = setInterval(output, 20);
			});

			window.addEventListener("gamepaddisconnected", function(e) {
				console.log("controller Disconnected");
				clearInterval(timer);
			});
			
			function fillArray(){
				if(navigator.getGamepads()[0] != null) { 
					inputArray[0] = navigator.getGamepads()[0].axes[0];
					inputArray[1] = navigator.getGamepads()[0].axes[1];
					inputArray[2] = navigator.getGamepads()[0].axes[2];
					inputArray[3] = navigator.getGamepads()[0].axes[3];
					inputArray[4] = navigator.getGamepads()[0].buttons[0].value;
					inputArray[5] = navigator.getGamepads()[0].buttons[1].value;
					inputArray[6] = navigator.getGamepads()[0].buttons[2].value;
					inputArray[7] = navigator.getGamepads()[0].buttons[3].value;
					inputArray[8] = navigator.getGamepads()[0].buttons[4].value;
					inputArray[9] = navigator.getGamepads()[0].buttons[5].value;
					inputArray[10] = navigator.getGamepads()[0].buttons[6].value;
					inputArray[11] = navigator.getGamepads()[0].buttons[7].value;
					inputArray[12] = navigator.getGamepads()[0].buttons[8].value;
					inputArray[13] = navigator.getGamepads()[0].buttons[9].value;
					inputArray[14] = navigator.getGamepads()[0].buttons[10].value;
					inputArray[15] = navigator.getGamepads()[0].buttons[11].value;
					inputArray[16] = navigator.getGamepads()[0].buttons[12].value;
					inputArray[17] = navigator.getGamepads()[0].buttons[13].value;
					inputArray[18] = navigator.getGamepads()[0].buttons[14].value;
					inputArray[19] = navigator.getGamepads()[0].buttons[15].value;
					inputArray[20] = navigator.getGamepads()[0].buttons[16].value;


					inputArray[21] = window.innerWidth;
					inputArray[22] = window.innerHeight;
				}
			};


			function sendSignal(key){
				fillArray();
				//console.log(key)	
				xhr.open("POST", url, true); 
				xhr.setRequestHeader("Content-Type", "application/json"); 
				xhr.onreadystatechange = function () {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var json = JSON.parse(xhr.responseText); 
					console.log(json)
					}
				};
				var data = JSON.stringify({"key": key});
				xhr.send(data); 
			};
				
			function output(){
				sendSignal(inputArray);
			};
			
		</script>
</div>

</body>
</html>
